fastapi 
uvicorn[standard] 
pydantic[email] 
pydantic-settings 
passlib[bcrypt] 
python-jose[cryptography] 
supabase
httpx 
python-dotenv
python-multipart
insightface 
numpy
opencv-python-headless
onnxruntime 